<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4" id="title">To Do List</h1>
    </div>
  </div>
  <div id="todo-list-wrapper">
    <div id="input-wrapper">
      <span id="toggle-all"></span>

    </div>
    <form class="text-center" id="create-task">
      <span id="toggle-all"></span>

      <input class="form-control" id="new-task-content" type="text" placeholder="What needs to be done?" autocomplete="off" required/>
    </form>
    <div class="row mx-4 px-4" id="tasks"></div>

    <div id="footer">
      <ul class="list-group">
        <li class="list-group-item" id="all">All</li>
        <li class="list-group-item" id="active">Active</li>
        <li class="list-group-item" id="completed">Completed</li>
      </ul>
    </div>
  </div>
</div>
